:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #242424 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh !important;
  background-color: transparent !important;
}
